.box{
    width: 300px;;
   font-family:sans-serif;
   margin: 150px auto;
   padding:50px 50px;
   background-color: #2EFCA9;
   border-radius: 10px;
}

.btn{
    border: none;
    padding:10px 30px;
    border-radius: 20px;
    margin-top: 10px;
    font-weight: bolder;
    font-size: medium;

}
